<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CucumberDemo" thread-count="2" parallel="tests">
    <test name="Cucumber with TestNG Test" preserve-order="true">

        <classes>
            <class name="StepDefinitions.TestNG_TestRunner"/>
        </classes>
    </test>
</suite>